<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JRender Plus</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jrender-plus/core"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jrender-plus/extends"></script>    
    <script src="https://cdn.jsdelivr.net/npm/@jrender-plus/element-plus"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
  </head>
  <body>
    <div id="app">
      <jrender
        :fields="configs.fields"
        :data-source="configs.datasource"
        :listeners="configs.listeners"
      />
    </div>
    <script type="module">
      JRenderPlus.useGlobalRender(JRenderPlusExtends.default)
      JRenderPlus.useGlobalRender(JRPElementPlus.default)
      
      const app = window.Vue.createApp({
        setup() {
          return {
            configs: Object.assign({fields:[],datasource:{},listeners:[]}, <%- model %>) 
          }
        }
      })

      app.use(ElementPlus, { size: 'small' })
      app.component('jrender', JRenderPlus.JRender)
      app.mount('#app')
    </script>
  </body>
</html>
